
<div class="section section-home-title">
    <h1 class="h1-title">Hi, I'm Mike Stupich</h1>
</div>

<div class="container">
  <div class="col-md-6">
      <h2>Picture?</h2>
  </div>

  <div class="col-md-6">
    <h2>A Bit About Me</h2>
    <div>
      <p class="p-bio-text">Michael Stupich is a third year Computer Science student at Carleton University, that has worked with many different programming languages.
        Michael has worked on several different projects, which can be viewed through his <a href="https://github.com/Mike-Stupich">GitHub</a>.
      <p class="p-bio-text">He was also employed by Health Canada to
       redesign the current infographic pages into a more user-friendly and accessible webpage. </p>
     </p>
    </div>
  </div>

</div>
