<div class="container">
  <h1 class="h1-languages-title">My Programming Knowledge</h1>
  <div class="col-md-6">
      <h2 class="h2-languages-subtitle">My Languages</h2>
      <ul>
        <li><span class="span-prglang">C++</span></li>
        <li><span class="span-prglang">C</span></li>
        <li><span class="span-prglang">C#</span></li>
        <li><span class="span-prglang">Python</span></li>
        <li><span class="span-prglang">Java</span></li>
        <li><span class="span-prglang">Swift</span></li>
        <li><span class="span-prglang">SQL</span></li>
        <li><span class="span-prglang">ActionScript</span></li>
      </ul>

  </div>

  <div class="col-md-6">
    <h2 class="h2-languages-subtitle">My Known IDE's</h2>
    <ul>
      <li><span class="span-prglang">Visual Studio</span></li>
      <li><span class="span-prglang">Eclipse</span></li>
      <li><span class="span-prglang">Atom</span></li>
      <li><span class="span-prglang">XCode</span></li>
      <li><span class="span-prglang">Vim</span></li>
    </ul>

  </div>

</div>
